

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f1f5f9;
}

.grid {
  display: grid;
  gap: 20px;
}

.card-pro {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}


/* títulos */
.title {
  font-weight: 600;
  margin-bottom: 10px;
}



--------------

#root {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}


.tabla-crm {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.tabla-crm thead {
  background: #f8fafc;
  text-transform: uppercase;
  font-weight: 600;
}

.tabla-crm th, 
.tabla-crm td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.tabla-crm tbody tr:hover {
  background: #f1f5f9;
}

/* botón */
button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

/* toolbar */
.toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.toolbar input,
.toolbar select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* badges de estado */
.badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: white;
}

.badge.pendiente {
  background: #f59e0b;
}

.badge.aprobado {
  background: #22c55e;
}

.badge.rechazado {
  background: #ef4444;
}



